body{
    font-family: 'Open Sans', sans-serif;
}
/*COMMON*/

.menu{
    list-style-type: none;
}

.menu li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
}


/*HEADER*/

/*top-nav*/
header nav{
    text-align: right;
}

.small-wrapper{
    max-width: 1000px;
    margin: auto;
}

.burger-menu{
    font-size: 20px;
    color: black;
    padding: 10px;
}

header .top-nav{
    padding: 20px 0;
}

.info li a{
    padding-left: 15px;
}

.lang li{
    padding-right: 10px;
    border-right: 1px solid black;
}

.lang li:last-child{
    border: none;
}

/*fine top-nav*/

/*jumbotron*/

.jumbotron{
    background-image: url(../img/hero-bg.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    position: relative;

}

.jumbotron .teaser{
    padding: 20px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbotron .teaser h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.jumbotron .teaser p{
    font-size: 15px;
    margin-bottom: 10px;
}


/*FINE HEADER*/